body {
    background: url("../assets/images/leatherback.jpg");
    background-repeat: repeat;
    color: black;
    margin: 25px;
    padding: 25px;
    
}

.jumbotron {
    justify-content: center;
    text-align: center;
    background-color: blue!important;
    margin: 0px;
    padding: 0px;

}

h1 {
    color: white!important;
    text-emphasis: bold;
    font-size: 50px!important;

}

.topics-btn {
    padding: 10px;
    margin: 5px;
}

#gif-form {
    float: right;
}

#gif-view {
    float: left;
}

span {
    font-style: italic;
}

.para {
    color: white; 

}